.htaccess
*.sass-cache*
*.sass-cache
.sass-cache
codekit*
wp-content/cache/tmp
object-cache.php
*.sublime-workspace
wp-config.php
wp-content/uploads/

wp-content/plugins/wp-migrate-db
wp-content/plugins/wp-migrate-db/*
*.codekit
*codekit

wp-content/themes/gsi/css/gsi.css

wp-content/plugin/wp-migrate-db/
wp-content/plugins/wordpress-importer/
wp-content/plugin/wp-migrate-db/*
wp-content/plugins/wordpress-importer/*

*.codekit

wp-content/themes/gsi/config.codekit

web.config

wp-content/themes/walk/.sass-cache/d500938fb7a618a9bada0d10321500b2bae68477/_form.scssc

wp-content/themes/walk/css/_general-template.scss.BASE.40889.scss

wp-content/themes/walk/css/_general-template.scss.BASE.40979.scss

wp-content/themes/walk/css/_general-template.scss.LOCAL.40889.scss

wp-content/themes/walk/css/_general-template.scss.LOCAL.40979.scss

wp-content/themes/walk/css/_general-template.scss.REMOTE.40889.scss

wp-content/themes/walk/css/_general-template.scss.REMOTE.40979.scss

*.orig

wp-content/themes/walk/images/glyph-remove-orig.png

wp-content/themes/walk/.sass-cache/d500938fb7a618a9bada0d10321500b2bae68477/_form.scssc
wp-content/themes/walk/theme-test-donation-form.-dynamic.php
wp-content/themes/walk/js/bulk-trans.zip
wp-content/themes/walk/team rankling.html
query_notes.html
waiver-en.html
waiver-fr.html
queries-2.html
queries.html
wp-content/plugins/gr_donation/includes/class_gr_leaderboard-working.php
KhpTestDatabase.sql
